{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}

    <h2>
        Login
    </h2>
    
    {% if session.user %}
    <p> You are already logged in as {{ session.user }}</p>
    {% endif %}
    
    <form method='post'>
        <input type='hidden' name='target' value='{{target}}'>
        <table>
            <tr>
                <td>Email</td>
                <td><input name='email'></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type='password' name='password'></td>
            </tr>
            <tr>
                <td></td>
                <td><input type='submit' name='action' value='login'></td>
            </tr>
        </table>
    </form>
    
{% endblock %}
